.title {
  font-size: 38px;
  font-weight: 600;
}

.button {
  text-align: center;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.5; /* 27/18 */
  /*background-color: #ff9903;*/
  border-radius: 24px;
  color: #fff;
  transition: background-color 0.3s ease 0s;
}
.button-dark {
  /*background-color: rgba(57, 62, 70, 0.75);*/
  border: 2px solid #30c9fc;
  color: #30c9fc;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  
}
.button:hover {
  /*background-color: rgba(57, 62, 70, 0.75);*/
  box-shadow: rgba(0, 115, 255, 0.925) 0px 10px 30px -15px;
}
.active,
.button-dark:hover {
  background-color: #30c9fc;
  /*color: #fff;*/
  color: #0c0c0e;
}

.button-vizit {
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
  /*margin-top: 15px;*/
}

